<%# add navigation links to this file %>
<% if user_signed_in? && current_user.is_admin? %>
<li><%= link_to 'Products', products_path %></li>
<li><%= link_to 'Categories', categories_path %></li>
<% end %>
